# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Django stuff
db.sqlite3
*.pyc

# IDEs
.vscode/
.idea/

# Static build output (from React)
static/
